
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: rgba(18, 18, 18);
    --color-bg-variant: rgba(31, 31, 31);
    --color-bg-light: rgb(237, 237, 237);
    --color-bg-light-variant: rgb(224, 224, 224);

    --color-primary: red;
    --color-primary-variant: rgba(255, 0, 0, 0.4);

    --color-primary-grad: radial-gradient(circle at 50% -20.71%, #ff9700 0, #ff7f00 12.5%, #ff6300 25%, #ff4100 37.5%, #ff0000 50%, #ec0018 62.5%, #da0024 75%, #c9002e 87.5%, #ba0037 100%);
    --color-primary-grad-variant: radial-gradient(circle at 50% -20.71%, #ff7400 0, #ff5f00 16.67%, #ff4200 33.33%, #ff0000 50%, #f40007 66.67%, #ea0010 83.33%, #e40019 100%);

    --color-white: #fff;
    --color-black: #000;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-dark: rgba(0, 0, 0, 0.6);

    --transition: all 400ms ease;
    
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

/* ------ General Styles ----------- */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section > h2, section > h5 {
    text-align: center;
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    transition: var(--transition);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    border-color: transparent;
}

.btn-primary {
    background: radial-gradient(circle at 50% -20.71%, var(--color-primary), rgba(255, 0, 0, 0.7));
    border-color: var(--color-primary-variant);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/** ========= Media Queries (Medium Devices) ============== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/** ========= Media Queries (Small Devices) ============== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-top: 2rem;
    }
}