.portafolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portafolio__item {
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.portafolio__item:hover {
    border-color: var(--color-primary-variant);
    background: rgba(0, 0, 0, 0.3);
}

.portafolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portafolio__item h3 {
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.portafolio__item-links {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}


/** ========= Media Queries (Medium Devices) ============== */
@media screen and (max-width: 1024px) {
    .portafolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/** ========= Media Queries (Small Devices) ============== */
@media screen and (max-width: 600px) {
    .portafolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
